@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.logo {
  padding-left: 10px;
  width: 100px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Roboto";
  font-weight: 600;
}
.listItems {
  padding: 0 10px 0;
  width: auto;
}

.listItems > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.listItems > ul > li {
  padding: 30px 10px 0 0;
  font-size: large;
  cursor: pointer;
}
.heading {
  font-family: "Roboto";
  font-size: "15px";
  text-align: center;
  font-style: normal;
}
.footerContainer {
  border: 1px solid green;
  text-align: center;
  padding: 20px 10px 20px;
  background-color: black;
  color: white;
  font-family: "Roboto";
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footerContainer > i {
  padding: 0 7px 4px;
  font-size: smaller;
}

.footerContainer > a {
  color: blue;
}

.footerContainer > strong {
  padding-left: 5px;
}

.restaurant-list {
  width: "auto";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid green; */
}
.card {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  /* border: 1px solid red; */
  width: 300px;
}
.imageCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ImageCardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}
.InnerContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.InnerImageContainer {
  position: relative;
}
.headingStyle {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* margin: 0px; */
  /* border: 1px solid blue; */
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.restuarant-heading {
  margin: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cuisines {
  -webkit-font-smoothing: antialiased;
  font-family: "Serief";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.Icon {
  color: green;
}
.rating {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}
