@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.logo {
  padding-left: 10px;
  width: 100px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  width: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: "Roboto";
  font-weight: 600;
}
.listItems {
  padding: 0 10px 0;
  width: auto;
}

.listItems > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.listItems > ul > li {
  padding: 30px 10px 0 0;
  font-size: large;
  cursor: pointer;
}
.heading {
  font-family: "Roboto";
  font-size: "15px";
  text-align: center;
  font-style: normal;
}
.footerContainer {
  border: 1px solid green;
  text-align: center;
  padding: 20px 10px 20px;
  background-color: black;
  color: white;
  font-family: "Roboto";
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
}

.footerContainer > i {
  padding: 0 7px 4px;
  font-size: smaller;
}

.footerContainer > a {
  color: blue;
}

.footerContainer > strong {
  padding-left: 5px;
}

.restaurant-list {
  width: "auto";
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid green; */
}
.card {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px;
  /* border: 1px solid red; */
  width: 300px;
}
.imageCard {
  width: 100%;
  /* width: "300"; */
  height: 100%;
  object-fit: cover;
}

.ImageCardContainer {
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 16px; */
  overflow: hidden;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}
.InnerContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.InnerImageContainer {
  position: relative;
}
.headingStyle {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: rgba(2, 6, 12, 0.92);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* margin: 0px; */
  /* border: 1px solid blue; */
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
.restuarant-heading {
  margin: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cuisines {
  -webkit-font-smoothing: antialiased;
  font-family: "Serief";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 300px;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.rating {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}

/* .icon {
  
} */
.search-container {
  margin: 20px auto;
  text-align: center;
  width: 100%;
  position: relative;
}
.inputField {
  width: 40%;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 15px 14px 20px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: #000000;
  outline: none;
  font-family: "Roboto";
  font-size: normal;
}
.search-button {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #000000;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 15px 22px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
}
.shimmer-card {
  /* flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%); */
  cursor: pointer;
  width: 300px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 50ms;
  display: grid;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  border-color: #d3d5df;
}
.shimmer-img {
  height: 200px;
  width: 100%;
  /* border-radius: 100%; */
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.stroke {
  height: 15px;
  background: #777;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 18px;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
.shimmer-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.shimmerImageCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shimmerImageCardContainer {
  width: 100%;
  height: 100%;
  /* height: 200px; */
  filter: drop-shadow(0 2px 8px #0000001a);
  /* border-radius: 26px; */
  position: relative;
  overflow: hidden;
}
.error-container {
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(14, 14, 15, 0.75);
  margin-bottom: 20px;
}
.about-us-page-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Default styles for the about content container */
.about-content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f5f5f5; */
  font-family: "Roboto";
  border: 2px solid black;
  border-style: dashed;
  border-radius: 16px;
}

/* Media query for screens 768px and below */
@media screen and (max-width: 768px) {
  .about-content-container {
    padding: 10px;
  }
}

/* Media query for screens 480px and below */
@media screen and (max-width: 480px) {
  .about-content-container {
    max-width: 100%;
    padding: 5px;
  }
}

.image-card {
  height: 900px;
}
.about-food-content {
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
}
.fa-brands.fa-github {
  font-size: 50px;
}
.fa-brands.fa-linkedin {
  font-size: 50px;
}
.anchor-card {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none; /* Optional: Remove underline from links */
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}
.button-style {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.error-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.image-content-restuarant {
  max-width: 100vh;
  height: auto;
  margin-bottom: 10px;
}
.image-content {
  max-width: 100%;
  height: 500px;
}
@media screen and (max-width: 768px) {
  .image-content {
    height: auto;
  }
}

.err-button {
  background-color: #09cae8;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
.image-box-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-size: cover;
}
.text-container {
  padding: 20px;
}
.error-heading {
  font-size: 24px;
  margin: 0;
}
.error-data-heading {
  font-size: 20px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed for your design */

  /* Add additional styling for spacing and alignment if desired */
}
.contact-container img {
  max-width: 500px; /* Set the maximum width to 100% of the container width */
  /* Maintain the aspect ratio of the image */
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .contact-container img {
    max-width: 100%; /* Set the maximum width to 100% of the container width */
    height: auto;
  }
}

.contact-container form {
  width: auto;
  text-align: left;
}

.contact-container input {
  display: block;
  width: 100%; /* Makes the input elements span the full container width */
  margin: 10px 0; /* Adjust the margin to control vertical spacing */
  padding: 10px;
  font-family: "Roboto";
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-container button {
  display: block;
  margin: 10px 0; /* Adjust the margin to control vertical spacing */
  padding: 10px 20px; /* Add padding to make the button more visible */
  border: none;
  font-family: "Roboto";
  font-size: 20px;
  background-color: #000000; /* Example background color */
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.details-submission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed for your design */
  text-align: center;
}

.details-submission h1 {
  font-size: 24px; /* Set the font size as needed */
  margin-bottom: 20px;
  font-family: "Roboto"; /* Add spacing between the heading and the button */
}
.resturant-top-container {
  /* border: 1px solid red; */
  min-height: 80vh;
  width: auto;
}
.resturant-summary-container {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.resturant-image {
  max-width: 250px;
  height: auto;
  padding: 10px;
}
.resturant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  margin: 10px;
}
.resturant-heading {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
  font-family: "Roboto";
}
.resturant-cuisine-list {
  white-space: nowrap;
  color: inherit;
  font-size: 25px;
  font-family: "Roboto";
  max-width: 500px;
  margin-bottom: 5px;
}
.resturant-details-container {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 600;
  font-size: 16px;
  max-width: 340px;
  font-family: "Roboto";
}
.resturant-menu-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.resturant-menu-items-inner-container {
  /* border: 1px solid green; */
  margin-top: 30px;
  width: 750px;
}
.resturant-menu-recommended-items {
  font-family: "Roboto";
  font-weight: bold;
}
.menu-item-list {
  /* border: 1px solid blue; */
  justify-content: center;
}
.menu-item {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  max-height: 250px;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}
.menu-item-details {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}
.menu-heading {
  font-family: "Roboto";
  font-weight: bold;
  /* font-size: 30px; */
}
.menu-paragraph {
  font-size: 1rem;
  font-family: "Roboto";
  color: #3e4152;
  width: 40%;
}
.menu-description {
  font-size: 1rem;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  /* width: 60%; */
  letter-spacing: -0.3px;
  font-family: "Roboto";
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
}
.add-button {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
.buttonBorder {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
}
